node_modules
# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Next.js build output
.next
out

# Production build
build

# Environment variables (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode
.idea

# Tests
coverage

# Misc
*.pem
.cache